h1{
    text-align: center;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

li.best{
    color: rgb(9, 107, 236);
}

.container{
    display: flex;
    flex-flow: row;
    align-content: space-between;
}

.child-container{
    display: inline-block;
    width: 300px;
    border: 1px solid bisque;
    padding: 10px 20px;
    margin: 30px auto;
}

.child-container p {
    font-family: Courier;
}

.table-container{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

li{
    color: green;
}